
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/da8f9c3d94.js" crossorigin="anonymous"></script>
    </head>

    <body class="home">
    <header class="home__header">
        <a href="/"><img src="/img/logo-mercado-liebre.svg" alt=""></a>
        <form action="" class="form">
            <input type="text" placeholder="Buscar" name="searchInput" id="searchBar">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></i></button>
        </form>
        <p><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        <nav class="home__header__menu">
            <ul>
                <li><a href="https://www.youtube.com/watch?v=7n_2995ef5g&t=16s">Ofertas</a></li>
                <li><a href="https://www.youtube.com/watch?v=7n_2995ef5g&t=16s">Tiendas oficiales</a></li>
                <li><a href="https://www.youtube.com/watch?v=7n_2995ef5g&t=16s">Vender</a></li>
                <li><a href="https://www.youtube.com/watch?v=7n_2995ef5g&t=16s">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="../register">Creá tu cuenta <i class="fa-solid fa-user-plus"></i></a></li>
                <li><a href="../login">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                <li><a href="https://www.youtube.com/watch?v=7n_2995ef5g&t=16s">Mis Compras <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
        <div id="burger"><i class="fa-solid fa-bars"></i></div>
    </header>
    <main class="home__main__register">
        
        <form action="/views/register.html" method="post">

            <input type="text" placeholder="Nombre y apellido" name="Nombre">

            <input type="text" placeholder="Nombre de usuari@" name="Usuario">

            <input type="text" placeholder="Domicilio" name="Domicilio">

            <label>Fecha de nacimiento</label>
            <input type="date" name="nacimiento">

            <label>Perfil del usuario</label>
            <div class="perfil">
            <input type="radio" name="perfil" value="Comprar" placeholder="Comprar"><p>Comprar</p>
            <input type="radio" name="perfil" value="Vender"><p>Vender</p>
        </div>

            <label for="categorias">Categorias de interes</label>
            <div class="categorias">
            <input type="checkbox" name="categorias" value="Electro"><p>Electro</p>
            <input type="checkbox" name="categorias" value="Moda"><p>Moda</p>
            <input type="checkbox" name="categorias" value="Hogar"><p>Hogar</p>
            <input type="checkbox" name="categorias" value="Jugueteria"><p>Jugueteria</p>
            <input type="checkbox" name="categorias" value="Vida sana"><p>Vida sana</p>
        </div>
            
        <label>Foto de usuario</label>
            <input type="file" placeholder="Foto de usuario" name="foto">

            <input type="password" placeholder="Contraseña" name="password">

            <input type="password" placeholder="Confirmar Contraseña" name="password">

            <button type="submit">Enviar</button>

            <button type="reset">Cancelar</button>



        </form>
        
    </main>
    <footer class="home__footer">
        <div>
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div>
            <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div>
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </div>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        
    </footer>
</body>
</html>