*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
/*HEADER*/
.home__header
{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--colorAmarillo);
    font-size: var(--fsBody);
    padding-bottom: 15px;
}

.home__header a
{
    margin: 10px 5px;
    width: 30%;
}

.home__header img
{
    width: 100%;
}

.home__header form
{
    width: 65%;
    margin-top: 30px;
    text-align: center;
}

.home__header p
{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.home__header__menu
{
    display: none;
    margin-bottom: 20px;
}

.home__header__menu ul
{
    display: flex;
    justify-content: center;
    width: 50%;
}
.home__header__menu ul li
{
    margin: 5px;
}
#burger
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--colorCeleste);
    width: 40px;
    height: 40px;
    margin: auto;
    border-radius: 5px;
}

#burger i
{
    color: white;
    font-size: 25px;
}

/* MAIN */
.home__main
{
   
    background-color: var(--colorGrisclaro);
    text-align: center;
    padding-bottom: 10px;
}

.home__main__products
{
    text-align: center;
    margin: 20px
}

.home__main__products h3
{
    margin: 20px 0px;
    font-size: var(--fsTitle);
    width: 100%;
}

.home__main__products article
{
    background-color: white;
    border-radius: 5px;
    margin: 10px 5px;
    border-top: 1px solid var(--colorGrisOscuro);
}

.home__main__products__infobox
{
    display: flex;
    flex-wrap: wrap;
    border: solid 1px var(--colorGrisClaro);
    padding: 15px;
    text-align: left;
    position: relative;
}

.home__main__products__infobox p
{
    margin: 5px
}

.home__main__products__infobox b
{
    display: none;
    width: 100%;
}

.home__main__products__infobox i
{
    color: var(--colorVerde);
   display: block;
font-size: 16px;
padding: 5px;
width: 30px;
height: 30px;
border: 1px solid #39b54a;
background-color: #FFF;
border-radius: 50%;
position: absolute;
right: 20px;
top: -15px;
}

.home__main__products__price
{
    font-size: var(--fsPrice);
}

.home__main__products__discount
{
   
    font-size: var(--fsDiscount);
    color: var(--colorVerde);
}

/* FOOTER */

.home__footer
{
    text-align: center;
    color: var(--colorGrisOscuro);
    padding-bottom: 20px;
}

.home__footer div
{
    margin: 20px;
}

.home__footer div i
{
    font-size: 2em;
    color: var(--colorCeleste);
    margin-bottom: 10px;
}

.home__footer div h4
{
    font-size: var(--fsDescription);
}

.home__footer div p
{
    font-size: var(--fsBody);
}


@media (min-width: 768px)  /*Tablet*/
{
    .home__header
    {
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
    }

    .home__header form
    {
        display: inline;
        width: 30%;
        text-align: center;
    }

    .home__header p
    {
        width: 35%;
    }
    .home__header__menu
    {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-left: 10px;
    }
    .home__header__menu ul
    {
        padding: 0px;
    }

    #burger
    {
        display: none;
    }

    .home__main__products
    {
        display: flex;
        flex-wrap: wrap;
    }

    .home__main__products__infobox b
    {
        display: inline;
    }

    .home__main__products article
    {
        width: 48%;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        
    }
}

@media (min-width: 1024px) /*Desktop */
{
    .home__main__products article
    {
        width: 24%;
    }

}

